<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aksara Isyarat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="background" style="background-image: url('{{ url_for('static', filename='assets/halamanUtama.png') }}');">
        <div class="container">
            <div class="menu-box">
                <h1>Aksara Isyarat</h1>
                <p>Aplikasi Pembelajaran Pengenalan Huruf Bahasa Isyarat</p>

                <div class="button-group">
                    <a href="/simulate" class="btn btn-primary">Ayo Belajar</a>
                    <a href="/dictionary" class="btn btn-primary">Kamus</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
